################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dat/batches/Work2.batch
/dat/batches/Work.batch
/dat/batches/time.batch
/dat/batches/test.batch
/dat/batches/Smooth.batch
/dat/batches/sightPlane.batch
/dat/batches/Quad.batch
/dat/batches/old Batches/wide4.batch
/dat/batches/old Batches/wide3  .batch
/dat/batches/old Batches/wide2.batch
/dat/batches/old Batches/wide.batch
/dat/batches/old Batches/whatzit_keep.batch
/dat/batches/old Batches/whatzit.batch
/dat/batches/old Batches/testBatch.batch
/dat/batches/old Batches/test1.batch
/dat/batches/old Batches/test.batch
/dat/batches/old Batches/statTest.batch
/dat/batches/old Batches/shorttest.batch
/dat/batches/old Batches/saveTest.batch
/dat/batches/old Batches/Run.batch
/dat/batches/old Batches/NewBmap.batch
/dat/batches/old Batches/multiULong.batch
/dat/batches/old Batches/multiLong.batch
/dat/batches/old Batches/multi.batch
/dat/batches/old Batches/longBatchTest.batch
/dat/batches/old Batches/Long.batch
/dat/batches/old Batches/kurtest.batch
/dat/batches/old Batches/impactBatch.batch
/dat/batches/old Batches/impactBatch
/dat/batches/old Batches/Hyman.batch
/dat/batches/old Batches/hybridBatchHQ2.batch
/dat/batches/old Batches/hybridBatchHQ.batch
/dat/batches/old Batches/hybridBatch.batch
/dat/batches/old Batches/HQBatch.batch
/dat/batches/old Batches/fixedt.batch
/dat/batches/old Batches/fixed.batch
/dat/batches/old Batches/FinalLong.batch
/dat/batches/old Batches/Final.batch
/dat/batches/old Batches/DurkaDurka2.batch
/dat/batches/old Batches/DurkaDurka.batch
/dat/batches/NoWave.batch
/dat/batches/NewBmapLong.batch
/dat/batches/flat.batch
/dat/batches/Work2.batch
/dat/batches/old Batches
